<div class="container mt-5 p-5" id="submit-blog">
    <div id="add-blog" >
        <h1 class="display fst-normal">Edit Your Blog</h1>
            <br>
          <div class="mb-3">
            <label  class="form-label">Blog Title</label>
            <input type="text" class="form-control" id="blog-title" placeholder="Tile" [(ngModel)]="editTile">
          </div>
          <div class="mb-3">
            <label  class="form-label">Blog Tagline</label>
            <tag-input [ngModel]="userTags" secondaryPlaceholder="Add Tags" placeholder="Add New Tag" [modelAsStrings]="true" (onAdd)="onTagAdd($event)" (onRemove)="onTagRemove($event)">
                <tag-input-dropdown [autocompleteItems]="suggestedTags" [showDropdownIfEmpty]="true" [dynamicUpdate]="false"></tag-input-dropdown>
            </tag-input> 
          </div>
          <div class="mb-3">
            <label class="form-label">Blog Content</label>
            <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="editContent"></angular-editor>
          </div>
          <div class="col-md-4  ">
            <p class="lead mb-0"><a class="btn btn-md btn-outline-dark" (click)="editBlog()" >Make Changes</a></p>
        </div>
    </div>
    
</div>
