<main class="container ">
    <div class="container pt-4 ">
        <div class="row mb-4 mt-5 text-black rounded bg-light ">
            <div class="col-md-12 px-0">
                <div class=" row d-flex justify-content-center" >
                    <div class="p-4 col-lg-9 col-md-6 col-sm-12" >
                        <h1 class="display-4 fst-normal">Create your own Blog</h1>
                        <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <p class="lead mb-0 m-5"><a class="btn btn-lg btn-outline-dark" (click)="AddDetails()">Create Blog +</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center" [ngClass]="{'d-none': !uploaddone}">
            <h2> Blog Uploaded Successfully!</h2>
        </div>
        <div class="row" [ngClass]="{'d-none': !noupload}" >
            <div class="col-lg-12 col-md-12 col-sm-12 jus">
                <div class="d-flex justify-content-center">
                    <img  src="https://fizzle.imgix.net/2012/01/corinne-kutz-tMI2_-r5Nfo-unsplash.jpg?w=736&auto=compress,format" class="d-inline-block align-top mt-4" alt="" style="height: 350px; width:70%; object-fit: cover;" >
             </div>
            </div>
        </div>
    </div>
    
    <div class="container p-5" id="submit-blog">
        
        <div id="add-blog" [ngClass]="{'d-none': !showContainer}">
            <h1 class="display fst-normal">Add your blog details</h1>
        <br>
              <div class="mb-3 mt-2">
                <label  class="form-label" ><strong>Title</strong></label>
                <input type="text" class="form-control" id="blog-title" placeholder="Tile" [(ngModel)]="title">
                <small class="text-danger" *ngIf="titleErr">Title is required!</small>
              </div>
              <!-- <div class="mb-3">
                <label  class="form-label">Blog Tagline</label>
                <input type="text" class="form-control" id="blog-tagline" placeholder="Tagline" [(ngModel)]="tagline">
              </div> -->
              <div class="mb-3 mt-2">
                <label  class="form-label"><strong>Tags</strong></label> 
                  <tag-input [ngModel]="userTags" secondaryPlaceholder="Add Tags" placeholder="Add New Tag" [modelAsStrings]="true" (onAdd)="onTagAdd($event)" (onRemove)="onTagRemove($event)">
                      <tag-input-dropdown [autocompleteItems]="suggestedTags" [showDropdownIfEmpty]="true" [dynamicUpdate]="false"></tag-input-dropdown>  
                  </tag-input> 
              </div>
              <div class="mb-3 mt-3">
                <label class="form-label"><strong>Content</strong></label>
                <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="content"></angular-editor>
                <small class="text-danger" *ngIf="contentErr">Content is required</small>
                <!-- <textarea class="form-control" id="blog-content" rows="15" [(ngModel)]="content"></textarea> -->
              </div>
              <div class="col-md-4  ">
                <p class="lead mb-0"><a class="btn btn-md btn-outline-dark" (click)="createBlog()" >Upload</a></p>
            </div>
        </div>
        
    </div>
  </main>
  
  