<body>
    <div class="container mt-5 pt-5">
        <div class="row g-5 ">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <h2 class="card-title">{{bloginfo?.title}}</h2>
                        <p><small class="float-end text-muted">Posted On: {{bloginfo?.postedAt| date}}</small></p>
                      </div>
                      <h5 ><span class="badge rounded-pill bg-secondary me-2" *ngFor="let tag of bloginfo?.tagline">{{tag}}</span></h5>
                      <p class="card-text mb-2 mt-3 " [innerHTML]="bloginfo?.content"></p>
                      <p><small class="float-end text-muted">Author: {{bloginfo?.authorDetail?.name}}</small></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12" >
                  <div class="row card">
                    <div class="mb-3">
                        <h5 class="card-subtitle mb-2 mt-3">Comments</h5>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Add comments..." [(ngModel)]="addcomment"></textarea>

                        <div class="d-grid gap-2 mt-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-outline-secondary me-md-2" type="button">Cancel</button>
                            <button class="btn btn-dark" type="button" (click)="submitComment()">Comment</button>
                          </div>
                        
                    </div>
                    <div class="col-12" >
                            <ul class="list-group list-group-flush"   *ngFor="let comment of bloginfo?.Comments">
                              <li class="list-group-item" style="border-top: 1px solid rgb(170, 168, 168)"> 
                                <div class="d-flex g-2 ">
                                  <img src="https://i.imgur.com/CFpa3nK.jpg" alt="" class="rounded-circle " width="40" height="40">
                                  <div class="ms-1"><h6 class="card-title mt-2">{{comment.userName}}</h6></div>
                                </div>
                                <p class="card-text ms-2 mt-1"><small>{{comment.comment}}</small></p>
                                <p><small class="float-end text-muted">{{comment.postedAt| date}}</small></p>
                              </li>
                            </ul>
                    </div>
                  </div> 
                
                    
                       
                
             </div>
        </div>
    </div>
    
    
</body>